In [6]:
import pandas as pd
import json

# pd.read_csv() henter innholdet fra API-et og legger det i data. 
# De norske datasettene her er semikolonseparert med komma som desimaltegn.
# CSV er ikke UTF-8, så vi må angi parameter encoding for å få æøå riktig. 
ssbdata = pd.read_csv("http://data.ssb.no/api/v0/dataset/85699.csv?lang=no", sep=';', decimal=',', encoding = "ISO-8859-1", )

pandas.core.frame.DataFrame

In [ ]:
# some JSON:
nsddata = '{ "name":"John", "age":30, "city":"New York"}'
# parse nsddata:
y = json.loads(nsddata)

In [ ]:
# the result is a Python dictionary:
print(y["age"])

In [ ]:
# Sjekker at datatypen Pandas dataframe
type(ssbdata)

In [7]:
# Shape gir antall rader (13) og kolonner (4)
ssbdata.shape

(101520, 6)

In [8]:
# Toppen av datasettet
ssbdata.head()

,region,kjønn,alder,statistikkvariabel,år,"11727: Beregnede tall for kommuneinndeling 2018, etter region, kjønn, alder, statistikkvariabel og år"
0,0101 Halden (-2019),1 Menn,F311 0 år,Personer,2007,154
1,0101 Halden (-2019),1 Menn,F311 0 år,Personer,2008,141
2,0101 Halden (-2019),1 Menn,F311 0 år,Personer,2009,159
3,0101 Halden (-2019),1 Menn,F311 0 år,Personer,2010,147
4,0101 Halden (-2019),1 Menn,F311 0 år,Personer,2011,151